@import '~vuetify/dist/vuetify.min.css';
@import '~material-icons/iconfont/material-icons.css';

body, #inspire.application {
    background: linear-gradient(15deg, #ffa44f, #d3213f) !important;
    background-size: 200% 200% !important;
    color: white !important;
}

a {
    text-decoration: none !important;
}

.hidden {
    display: none;
}
