html,
body {
  height: 100%;
}

#main {
  min-height: 100%;
  background-color: #f1f5f8;
}

i.fas {
  margin-right: 10px;
}

.navbar {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

#main {
  padding-top: 0;
}

.hero .image img {
  width: 13rem;
  height: 13rem;
  margin: 0 auto;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
}

